body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fafbfc;
	text-align: center;
	width: 50%;
	margin:auto;
}
hr {
	padding:0px;
	size:0px;
}
#content{
	position:relative;
	top:10px;
	border:1px solid grey;
	border-radius: 5px;
	position:relative;
	bottom:17px;
	background-color:#FcFcFc;
}
#content p{
	text-align: left;
	font-size:20px;
}
#content li{
	text-align: left;
	font-size:14px;
}
#content ul{
	text-align: left;
	font-size:14px;
}