@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fafbfc;
	text-align: center;
	z-index: 10;
	margin: 0;
}
html{
	width:100%;
}
hr {
	padding:0px;
	size:0px;
}
#headerPicture{
	position: absolute;
	z-index: -3;
	max-width: 100%;
	left: 0;
	top: 0;
}
#myName{
	margin: 8% auto 1%;
	width: 40%;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 500%;
	padding: 5px;
	transition: background-color .5s;
	border-radius: 3px;
	user-select: none;
}
#content{
	width: 50%;
	margin:auto;
	position:relative;
	top:10px;
	border:1px solid #cccccc;
	border-radius: 10px;
	position:relative;
	bottom:17px;
    background-color: rgba(255,255,255,.8);
	z-index:11;
	box-shadow: 2px 2px 2px rgba(255,255,255,.25);
	transition: background-color .6s;
}
#content:hover{
	background-color:  rgba(255,255,255);
	transition: background-color 1s;
}
#content p{
	padding-left:2em;
	text-align: left;
	font-size:14px;

}
#content li{
	text-align: left;
	font-size:14px;
}
#content ul{
	text-align: left;
	font-size:14px;
}
#textboxname{
	width:250px;
	margin:auto;
	border-radius:5px;
	z-index:10;
}